.profilelogo{
    width: 90%;
    height: auto;
}
.title {
    color: grey;
    font-size: 18px;
  }
  button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color:#413670;
    background-color:#69E9F5;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  a {
    text-decoration: none;
    font-size: 30px;
    color:#645FCD;
  }
  button:hover, a:hover {
    opacity: 0.7;
  }
  .profile-card{

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    margin-top: 50%;
    text-align: center 
  }