* {
    padding: 0px;
    margin: 0px;
}



/* DONATION CSS */
.donation-home {
    background: #ffffff;
    text-align: center;
    height: 100vmax;
}

.donation-title {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
}

/* CSS for the progress bar */
.donation-progress {
    background: #d3455b;
    height: 7px;
    border-radius: 50px;
}

.outside-progress {
    background: lightgray;
    margin: 0px 10px;
    border-radius: 25px;
    
 
}

/* No Kid Hungry CSS */
.nkh {
    background: #f7f9fa;
    margin-bottom: 30px;
    display: inline-block;
    height: 50vmax;
    width: 100%;
    background-color: rgb(241, 241, 241);

}
.donation-name {
    float: left;
    margin: 10px;
}

.charity-dropdown {
    display: inline-block;
    margin: 15px;
    width: 45vmax;
   
}

.nkd-amount-donated {
    float: left;
    font-size: 16px;
}

.nkd-dropdown-dots {
    float: right;
    font-size: 16px;
    padding-right: 30px;
}

#nkd-progress {
    width: 25%;
}

.charity-logo {
    width: 40vmax;
    height: 10em;
    margin: 10px 0px;
    margin-left: -9%;
    
}

/* Ronald McDonald CSS */

.rmd {
    background: rgb(241, 241, 241);
    display: inline-block;
    width: 100%;
    height:auto;
}

#rmd-progress {
    width: 55%;
}