.user-home {
    justify-self: center;
    align-self: center;
    background-color: #f6f6f6;
    height: auto;
    width: 100%;
    
  }

  .user-home .user-link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vmax;
    color: lightslategrey;
    text-decoration: none;
  }


  
  .user-home button{
        width: 12em;
        height: 5em;
        margin-top:-6em;
        background-color: #00cc7a;
        border-radius: 25pt;
        color: white;
        font-weight:bold;
        font-size: 20px;
      
  }
  

  .user-home img{
    width: 90%;
    height: auto;
    padding-top: 10%;
    display: flex;
    align-items: center;
  }

  .MyPro{
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 5%;
    font-size: 30px;
    
  }

  .MyDon{
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 5%;
   
  }


  .MyPay{
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 5%;
  }

  .MySet{
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 5%;
  }

.user-home h5{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5vmax;
  color: lightslategrey;
}

  .user-home hr{
    width: 70%;
    margin-top: 10px;
    height: 3px;
    background-color:lightslategrey;
    color: lightslategrey;
    border: none;
  }

.MySocial{
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 5%;
}